#!/bin/bash

#Token
API="https://api.datacube.io"
USERNAME="__USERNAME_DATACUBE__"
PASSWORD="__USERNAME_DATACUBE__"
SERVEURUID="__SERVEUR_ID__"

#Backup
BACKUP_DIR="/backup"

# FTP
FTP_HOST="163.172.185.161"
FTP_USER="__USER_FTP__"
FTP_PASSWD="__PASSWD_FTP__"


#####################
#### DON T TOUCH ####
#####################

# Binaire
mkdir_bin=$(which mkdir)
mysqldump_bin=$(which mysqldump)
mysql_bin=$(which mysql)
gzip_bin=$(which gzip)
tar_bin=$(which tar)

#Date
format_date='%d%m%Y'
date=`date +${format_date}`
